.header{
    background-color: black;
    padding-top: 30px;
    padding-left: 3%;
    display: flex;
}

.logo{
    margin-left: 2%;
    width: 3%;
    height: 3%;
}

.hppc{
    margin-bottom: 10px;
    color: white;
    margin-left: 45%;
    display: flex;
    gap: 5%;
}

.header-buttons{
    margin-left: 7%;
}

.Login{
    font-size: 11px;
    margin-top: 10px;
    background-color: black;
    width: 65px;
    height: 30px;
    color: white;
    border-width: 1px;
    border-color: white;
    border-radius: 6px;
}

.register{
    margin-left: 20px;
    font-size: 11px;
    margin-top: 10px;
    background-color: #097FD9;
    width: 75px;
    height: 30px;
    color: white;
    border-width: 1px;
    border-color: #097FD9;
    border-radius: 6px;
}

@media screen and (max-width: 569px) {

    .logo{
        margin-top: 5px;
        margin-left: 0;
        width: 40px;
        height: 40px;
    }
    

    .hppc{
        margin-top: 10px;
        gap: 3%;
        margin-left: 3%;
        font-size: 10px;
    }    

    .header-buttons{
        margin-left: 6%;
    }

    .login{
        font-size: 9px;
        width: 35px;
        height: 30px;
    }

    .register{
        margin-left: 10px;
        font-size: 9px;
        width: 50px;
        height: 30px;
    }

}

@media screen and (min-width: 721px) and (max-width: 1021px) {

    .logo{
        margin-top: 5px;
        margin-left: 3%;
        width: 50px;
        height: 50px;
    }
    

    .hppc{
        gap: 5%;
        margin-left: 21%;
        font-size: 17px; 
    }    

    .header-buttons{
        margin-top: 5px;
        margin-left: 10%;
    }

    

}

@media screen and (min-width: 1022px) and (max-width: 1201px) {


}





@media screen and (max-width: 569px) {


}

@media screen and (min-width: 721px) and (max-width: 1021px) {


}

@media screen and (min-width: 1022px) and (max-width: 1201px) {

    
}