.footer{
    background-color: black;
}

.foooter{
    background-color: black;
    padding-top: 40px;
    padding-left: 3%;
    display: flex;
}

.gymlogo{
    display: flex;
}

.footergym{
    font-size: 18px;
    margin-left: 10px;
    margin-top: 4px;
    font-weight: 500;
}

.sitee{
    font-size: 16px;
    font-weight: 500;
}

.support, .social{
    font-size: 16px;
    font-weight: 500;
}

.foo{
    font-size: 13px;
}

.highlight{
    font-weight: 400;
    margin-top: 10px;
    font-size: 13px;
    line-height: 16px;
    width: 60% ;
}

.logoo{
    width: 10%;
    height: 13%;
}

.footer1, .footer2, .footer3, .footer4{
    color: white;
}

.footer2{
    margin-left: 32%;
}

.site{
    font-size: 13px;
}


.footer3, .footer4{
    margin-left: 4%;
}

.hr{
    margin-top: 1%;
    width: 100%;
    border-top: 0;
    border-bottom: 1px solid #E1E1E1;
    padding-bottom: 20px;
    border-left: 0;
}

.fen{
    font-size: 11px;
    color: #E1E1E1;
}

.footerend{
    display: flex;
}

#fl{
    margin-top: 6px;
    width: 2%;
    height: 2%;
}

#fit{
    margin-left: 2%;
}

#term{
    margin-left: 65%;
}

#priva{
    margin-left: 3%;
}